.App-header {
  background-color: #394c72;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-table{
  margin-top: 3%;
  margin-right: 10%;
  margin-left: 10%;
}